<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxLayoutAlign="space-between center">
    <div class="backgroundColor"></div>
    <img fxflex="100" id="backgroundImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1200px-Marvel_Logo.svg.png">
  </div>
  <div fxFlex="25%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
    <ng-container *ngFor="let categ of listCateg">
      <mat-card id="cardAvenger" fxLayout="column" fxLayoutAlign="center" *ngIf="categ.item && categ.item[categ.numb]">
        <img [src]="categ.item[categ.numb].thumbnail.path + '/portrait_xlarge.' + categ.item[categ.numb].thumbnail.extension"
             style="border-bottom-right-radius: 12% 12%; border-top-left-radius: 12% 12%;">
        <span class="mat-title">{{categ.type}}</span>
      </mat-card>
    </ng-container>
  </div>
</div>
